.gambar-konten {
    /* Batas lebar maksimal gambar di layar besar */
    max-width: 800px;

    /* Penting untuk responsivitas */
    height: auto;

    /* Untuk menengahkan gambar */
    display: block;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
